<tr>
  <th>Neg Mode Data: <br> <input type="file" name="fileUpload" onchange="uploadFile(this)" id="NegFile" class="NegInput" style="color:transparent;width: 90px;"></th>
  <td id="NegInput"></td>
</tr>
<tr>
  <th>Pos Mode Data: <br><input type="file" name="fileUpload" onchange="uploadFile(this)" id="PosFile" class="PosInput" style="color:transparent;width: 90px;"></th>
  <td id="PosInput"></td>
</tr>

<!--
<tr>
  <th>DB File Names:<br><input type="button" onclick="getFiles()" value="GetFiles"</th>
  <td id="FileNames"></td>
</tr>
-->
