{% load static %}
<script src="{% static 'js/qed.js' %}"></script>
<script src="{% static 'js/scripts_header_eco.js' %}" type="text/javascript"></script>
<script src="{% static 'js/landing_slides.js' %}" type="text/javascript"></script>
<script src="{% static 'js/application.js' %}" type="text/javascript"></script>
<script src="{% static 'ms2/nta_input.js' %}" type="text/javascript"></script>

<script src="{% static 'js/jquery.animate-enhanced.min.js' %}"></script>
<script src="{% static 'js/jquery.superslides.min.js' %}" type="text/javascript" charset="utf-8"></script>
