</table>
	<div class="input_nav">
		<div class="input_left">
			<ul>
				<li><input type="button" value="Clear" id="clearbutton" class="input_button"></li>
				<li><input type="button" value="Defaults" id="resetbutton" class="input_button"></li>
			</ul>
		</div>
		<div class="input_right">
			<ul>
				<li><input class="submit form-submit input_button" type="submit" value="Submit" /></li>
			</ul>
		</div>
	</div>
	</form>
<div class='disclaimer'>**Disclaimer: This tool is being provided for internal testing purposes and is not yet approved by EPA-ORD. Please do not publish any outputs.**<br> **Disclaimer: Please remove all sensitive or personally identifiable information before submitting data.** </div>"
</div>
</div>
</div>
</div>